<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Who's the Boss?</title>
</head>
<body>
    <header>
        <div>
            <img src="/templates/images/scuderia.png" alt="Scuderia Ferrari Logo">
        </div>
        <h1>Have Ferrari Sacked Their Team Principal Today?</h1>
    </header>
    <div class="cards">
        <div id="rest">
            <h2>{{status}}</h2>
        </div>
    </div>
    <div class="cards">
        <div id="image">
            <img id="image_img" src="{{ image }}" alt="Scuderia Ferrari Team Principal">
            <div id="image_overlay">
                <h3 class="image_title">{{name}}</h3>
                <p class="image_description">is the current Team Principal of Scuderia Ferrari.</p>
                <h3 class="image_title">{{days}} days</h3>
                <p class="image_description">have passed since the sacking of a team principal.</p>
            </div>
        </div>
        <div id="desc">
            <div id="desc_container">
                <h3 class="desc_title">How This Works</h3>
                <p class="desc_description">
                    Beautiful Soup is implemented to scrape the Scuderia Ferrari Wikipedia page
                    to find their team principal. The webpage of the team principal is then scraped
                    to access the required information such their name and image to the left. 
                </p>
                <p class="desc_description">      
                    The team principal is tracked with a dictionary using their name as a key and the 
                    current date from the datetime module as a value. When the Wikipedia page is
                    updated, the dictionary will add the new team principal and update the sacking 
                    status until the following day when the new name will exist in the dictionary
                    and the status will return to "normal".
                </p>
                <p class="desc_description">    
                    The web page is rendered with Flask by passing the required information to the 
                    render template as variables and from there the page is structured and styled
                    with pure HTML and CSS.
                </p>
            </div>
        </div>
    </div>
</body>
<script>
// <h1>Ferrari</h1>
// <h2>{{name}}</h2>
// <h2><img id="img" src="https://{{image}}"></h2>
// <h2>{{status}}</h2>
// <h2>{{days}}</h2>
//
// <div id="info">
//             <p>Frédéric Vasseur has been Ferrari team principal for 72 days</p>
//         </div>
</script>
</html>